
/* THIS STYLESHEET CONTAINS THE STYLING THAT SHOULDN'T BE CHANGED BY COLOR MODES */

#anchorPane {
    -fx-min-height: 10;
    -fx-min-width: 10;
    -fx-max-height: 10;
    -fx-max-width: 10;
    -fx-padding: 8 0 8 8;
}

#loadingScreenBox {
    -fx-padding: 20;
    -fx-min-height: 100;
    -fx-min-width: 100;
    -fx-alignment: CENTER;
    visibility: hidden;
    -fx-background-color: white;
}

#loadingText {
    -fx-font-size: 24;
}

#progressBar {
    -fx-min-width: 200;
    -fx-padding: 20;
}

#menuBarHBox {
    -fx-max-height: 25;
    -fx-min-height: 25;
}

#zoomBox {
    -fx-max-width: 40;
    -fx-max-height: 60;
    -fx-padding: 0 5 35 0;
}

#footerGridPane {
    -fx-font-size: large;
    -fx-max-width: 230;
    -fx-max-height: 30;
    -fx-pref-height: 30;
    -fx-hgap: 5;
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 0 10 0 10;
}
