
/* IMPORT MAIN FILE */
@import "_misc.css";

/* EDIT BELOW HERE FOR RESPECTIVE COLOR MODE */
#loadingScreenBox {
    -fx-background-color: #979797;
}

#menuBar {
    -fx-background-color: DARKGREY;
}

#menuBar .menu:hover {
    -fx-background-color: #979797;
}
#menuBar .menu:focused {
    -fx-background-color: #979797;
}
#menuBar .menu:showing {
    -fx-background-color: #979797;
}

#menuBar .context-menu {
    -fx-background-color: DARKGREY;
}

.menu-item {
    -fx-background-color: DARKGREY;
}
.menu-item:hover {
    -fx-background-color: #979797;
}
.menu-item:focused {
    -fx-background-color: #979797;
}

.menu-item:hover .label {
    -fx-text-fill: BLACK;
}
.menu-item:focused .label {
    -fx-text-fill: BLACK;
}

#zoomBox {
    -fx-color: DARKGREY;
}

#footerGridPane {
    -fx-background-color: #979797;
    -fx-border-color: #1c3f49;
}
