
/* IMPORT MAIN FILE */
@import "_navigation.css";

/* EDIT BELOW HERE FOR RESPECTIVE COLOR MODE */
.searchBoxes {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #3E859B;
}

.searchArea .content {
    -fx-background-color: WHITE;
}

.scrollPane {
    -fx-background-color: WHITE;
}

.suggestions {
    -fx-background-color: WHITE;
}
.suggestions .label:hover {
    -fx-background-color: #c1c1c1;
}
.suggestions .label:focused {
    -fx-background-color: c1c1c1;
}

.toggle-button {
    -fx-border-color: LIGHTGREY;
}

.searchBoxes > .button {
    -fx-background-color: default;
}

.navigationButton {
    -fx-background-color: none;
    -fx-border-width: 0;
}
.navigationButton:focused {
    -fx-background-color: #ececec;
}
.navigationButton:hover {
    -fx-background-color: LIGHTGREY;
}


#navigationListView .list-cell:even {
    -fx-background-color: WHITE;
}
#navigationListView .list-cell:odd {
    -fx-background-color: #ececec;
}
