
/* IMPORT MAIN FILE */
@import "_navigation.css";

/* EDIT BELOW HERE FOR RESPECTIVE COLOR MODE */
.searchBoxes {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #3E859B;
}

.scrollPane {
    -fx-background-color: WHITE;
}

.suggestions {
    -fx-background-color: WHITE;
}

.toggle-button {
    -fx-border-color: LIGHTGREY;
}
