
/* IMPORT MAIN FILE */
@import "_navigation.css";

/* EDIT BELOW HERE FOR RESPECTIVE COLOR MODE */
.searchBoxes {
    -fx-background-color: DARKGREY;
    -fx-border-color: #264f5e;
}

.searchArea .content {
    -fx-background-color: #f3f3f3;
}

.scrollPane {
    -fx-background-color: #d5d5d5;
}

.suggestions {
    -fx-background-color: #d5d5d5;
}
.suggestions .label:hover {
    -fx-background-color: #afafaf;
}
.suggestions .label:focused {
    -fx-background-color: #afafaf;
}

.toggle-button {
    -fx-border-color: #bababa;
}
.toggle-button:selected {
    -fx-background-color: #bababa;
}

.navigationButton {
    -fx-background-color: LIGHTGREY;
    -fx-border-width: 0;
}
.navigationButton:focused {
    -fx-background-color: #bebebe;
}
.navigationButton:hover {
    -fx-background-color: #bebebe;
}


#navigationListView .list-cell:even {
    -fx-background-color: #a5a5a5;
}
#navigationListView .list-cell:odd {
    -fx-background-color: #afafaf;
}
