
/* IMPORT MAIN FILE */
@import "_userNodes.css";

/* EDIT BELOW HERE FOR RESPECTIVE COLOR MODE */
.userNodeVBoxes {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #a0a0a0;
}

#newUserNodeButton, #userNodeListView {
    -fx-border-color: #3E859B;
}

#newUserNodeButton {
    -fx-background-color: #f6f6f6;
}
