
/* IMPORT MAIN FILE */
@import "_userNodes.css";

/* EDIT BELOW HERE FOR RESPECTIVE COLOR MODE */
.userNodeVBoxes {
    -fx-background-color: #797979;
    -fx-border-color: #1c3f49;
}

.textField {
    -fx-background-color: #f3f3f3;
}

.userNodeButton {
    -fx-background-color: LIGHTGREY;
}
.userNodeButton:focused {
    -fx-background-color: #979797;
}
.userNodeButton:hover {
    -fx-background-color: #8e8e8e;
}


#newUserNodeButton, #userNodeListView {
    -fx-background-color: #979797;
    -fx-border-color: #1c3f49;
}
#userNodeListView .list-cell:even {
    -fx-background-color: LIGHTGREY;
}
#userNodeListView .list-cell:odd {
    -fx-background-color: #afafaf;
}

#userNodeChangeNameOrDescButtons {
    -fx-background-color: #afafaf;
}
